For this part, I´ll try to make a match of recommendations regarding the plot of each movie. Thi is all meant to user_1.

In [15]:
#Import libraries
import numpy as np
import pandas as pd
import nltk
import re

In [2]:
#Check the data
movies_df = pd.read_csv("/Users/Menazina/Desktop/movie_match/movie_metadata.csv")

In [3]:
movies_df.head(5)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [4]:
movies_df.isna().sum()

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [5]:
movies_df.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [6]:
new_mov = movies_df.drop(["num_critic_for_reviews","actor_3_facebook_likes","actor_1_facebook_likes","gross","cast_total_facebook_likes","facenumber_in_poster", "budget","actor_2_facebook_likes", "aspect_ratio"], axis = 1, inplace = True)

In [7]:
movies_df

,color,director_name,duration,director_facebook_likes,actor_2_name,genres,actor_1_name,movie_title,num_voted_users,actor_3_name,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,title_year,imdb_score,movie_facebook_likes
0,Color,James Cameron,178.0,0.0,Joel David Moore,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,Wes Studi,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,3054.0,English,USA,PG-13,2009.0,7.9,33000
1,Color,Gore Verbinski,169.0,563.0,Orlando Bloom,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,Jack Davenport,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,1238.0,English,USA,PG-13,2007.0,7.1,0
2,Color,Sam Mendes,148.0,0.0,Rory Kinnear,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,Stephanie Sigman,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,994.0,English,UK,PG-13,2015.0,6.8,85000
3,Color,Christopher Nolan,164.0,22000.0,Christian Bale,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,Joseph Gordon-Levitt,deception|imprisonment|lawlessness|police offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,2701.0,English,USA,PG-13,2012.0,8.5,164000
4,NaN,Doug Walker,NaN,131.0,Rob Walker,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens ...,8,NaN,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,NaN,NaN,NaN,7.1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,87.0,2.0,Daphne Zuniga,Comedy|Drama,Eric Mabius,Signed Sealed Delivered,629,Crystal Lowe,fraud|postal worker|prison|theft|trial,http://www.imdb.com/title/tt3000844/?ref_=fn_t...,6.0,English,Canada,NaN,2013.0,7.7,84
5039,Color,NaN,43.0,NaN,Valorie Curry,Crime|Drama|Mystery|Thriller,Natalie Zea,The Following,73839,Sam Underwood,cult|fbi|hideout|prison escape|serial killer,http://www.imdb.com/title/tt2071645/?ref_=fn_t...,359.0,English,USA,TV-14,NaN,7.5,32000
5040,Color,Benjamin Roberds,76.0,0.0,Maxwell Moody,Drama|Horror|Thriller,Eva Boehnke,A Plague So Pleasant,38,David Chandler,NaN,http://www.imdb.com/title/tt2107644/?ref_=fn_t...,3.0,English,USA,NaN,2013.0,6.3,16
5041,Color,Daniel Hsia,100.0,0.0,Daniel Henney,Comedy|Drama|Romance,Alan Ruck,Shanghai Calling,1255,Eliza Coupe,NaN,http://www.imdb.com/title/tt2070597/?ref_=fn_t...,9.0,English,USA,PG-13,2012.0,6.3,660
5042,Color,Jon Gunn,90.0,16.0,Brian Herzlinger,Documentary,John August,My Date with Drew,4285,Jon Gunn,actress name in title|crush|date|four word tit...,http://www.imdb.com/title/tt0378407/?ref_=fn_t...,84.0,English,USA,PG,2004.0,6.6,456

In [8]:
movies_df.shape

(5043, 19)

Checking a second database, in which i will use the m

In [9]:
data_film = pd.read_csv("/Users/Menazina/Desktop/movie_match/IMDB-Movie-Data.csv")

In [10]:
data_film.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [11]:
data_film.isna().sum()

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [12]:
data_film["Description"][1]

'Following clues to the origin of mankind, a team finds a structure on a distant moon, but they soon realize they are not alone.'

In [13]:
data_film["Genre"][1]

'Adventure,Mystery,Sci-Fi'

En un inicio intenté quitar cada palabra, pero me di cuenta que es necesario "separarlas" por comas, por lo que usare mi temido REGEX.

In [14]:
#for i in range(len(data_film["Genre"])):
#    if "Action" in data_film["Genre"][i]:
#        quit = data_film["Genre"][i].split()
#        quit[0] = ", "
#        data_film["Genre"][i] = " ".join(quit)

/Users/Menazina/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [21]:
lst = []
for i in data_film["Genre"]:
    x = i.split(",")
    lst = lst+x

In [23]:
lst = list(set(lst))

In [24]:
lst

['Drama',
 'History',
 'Horror',
 'Action',
 'Thriller',
 'Crime',
 'Adventure',
 'Music',
 'Fantasy',
 'Western',
 'Sci-Fi',
 'Family',
 'Comedy',
 'Sport',
 'Animation',
 'Biography',
 'Romance',
 'War',
 'Musical',
 'Mystery']

In [25]:
data_film["Genre"].head(5)

0     Action,Adventure,Sci-Fi
1    Adventure,Mystery,Sci-Fi
2             Horror,Thriller
3     Animation,Comedy,Family
4    Action,Adventure,Fantasy
Name: Genre, dtype: object

In [28]:
gnr_lst = []
for i in data_film["Genre"]:
    gnrlst = []
    for j in lst:
        if j in i:
            gnrlst.append(1)
        else:
            gnrlst.append(0)
    gnr_lst.append(gnrlst)

In [35]:
gnr_lst[0]

[0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [37]:
genre = pd.DataFrame(gnr_lst, columns = lst)

In [38]:
genre

,Drama,History,Horror,Action,Thriller,Crime,Adventure,Music,Fantasy,Western,Sci-Fi,Family,Comedy,Sport,Animation,Biography,Romance,War,Musical,Mystery
0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1
2,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1,0,0,0,0,0
4,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
996,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
997,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
998,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0
999,0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0,0

In [43]:
genre["Title"] = "null"
for i in genre["Drama"].index:
    genre["Title"][i] = data_film["Title"][i]

/Users/Menazina/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [46]:
#pd.get_dummies(data_film["Genre"])
#

,Action,"Action,Adventure","Action,Adventure,Biography","Action,Adventure,Comedy","Action,Adventure,Crime","Action,Adventure,Drama","Action,Adventure,Family","Action,Adventure,Fantasy","Action,Adventure,Horror","Action,Adventure,Mystery",...,"Mystery,Romance,Thriller","Mystery,Sci-Fi,Thriller","Mystery,Thriller","Mystery,Thriller,Western","Romance,Sci-Fi","Romance,Sci-Fi,Thriller",Sci-Fi,"Sci-Fi,Thriller",Thriller,"Thriller,War"
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [44]:
genre.head()

,Drama,History,Horror,Action,Thriller,Crime,Adventure,Music,Fantasy,Western,...,Family,Comedy,Sport,Animation,Biography,Romance,War,Musical,Mystery,Title
0,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,Guardians of the Galaxy
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,Prometheus
2,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Split
3,0,0,0,0,0,0,0,0,0,0,...,1,1,0,1,0,0,0,0,0,Sing
4,0,0,0,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,Suicide Squad